<!DOCTYPE html>
<html>
<head>
  <title>Employee Payroll Dashboard</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="top">
  <h3>Employee Payroll</h3>
</div>
<div class="container">

<div class="header">
<h4>Employee Details</h4>
<div>
  <div class="search-box" style="display: inline;">
      <input
        type="text"
        id="searchInput"
        placeholder="ðŸ”Search"
      >
      </div>
  <a href="/add" class="btn btn-success">+ Add Employee</a>
</div>
</div>

<!-- SEARCH BAR -->


<table id="employeeTable">

<tr>
<th>ID</th>
<th>Name</th>
<th>Department</th>
<th>Basic Salary</th>
<th>Tax (12%)</th>
<th>Net Salary</th>
<th>Action</th>
</tr>

<% employees.forEach(emp => { 
   const tax = emp.salary * 0.12;
   const net = emp.salary - tax;
%>

<tr>
<td><%= emp.id %></td>
<td><%= emp.name %></td>
<td style="display:flex; justify-content: center; align-items: center;"><div style="background-color: aquamarine; border:1px solid rgb(103, 132, 103);  border-radius: 10px; padding:2px 10px;"><%= emp.department %></div>
</td>
<td>â‚¹ <%= emp.salary %></td>
<td>â‚¹ <%= tax.toFixed(2) %></td>
<td>â‚¹ <%= net.toFixed(2) %></td>

<td>
<a href="/edit/<%= emp.id %>" class="btn btn-primary">Edit</a>
<a href="/delete/<%= emp.id %>" class="btn btn-danger">Delete</a>
</td>
</tr>

<% }) %>

</table>

</div>

<!-- LIVE SEARCH SCRIPT -->
<script>
const searchInput = document.getElementById("searchInput");
const rows = document.querySelectorAll("#employeeTable tr");

searchInput.addEventListener("keyup", function () {
  const value = this.value.toLowerCase();

  rows.forEach((row, index) => {
    if (index === 0) return; // skip header

    const text = row.innerText.toLowerCase();
    row.style.display = text.includes(value) ? "" : "none";
  });
});
</script>

</body>
</html>
